*{
    margin:0;
    padding:0; 
    box-sizing: border-box;

}
body {
    background-color:#FFF0E5;
  }


  span::before {
    content: "\A";
  }

.container{
    position: relative;
    margin-bottom: 20px;
}

.tallIceCream{
    position: absolute;
    width: 400px;
    height: 860px;
    left: 20px;
    top: 80px;
    border: 1px solid #6D6570;
    background-repeat: no-repeat;
    background-image:url(images/icecream\ 1.png);
}
.ubeicecream{
    position: absolute;
    width: 400px;
    height: 400px;
    right: 468.5px;
    top: 80px;
    background-repeat: no-repeat;
    background-image:url(images/ubeicecream\ 1.png);
    border: 1px solid #6D6570;
}
.AvocadoIceCream{
    position: absolute;
    width: 400px;
    height: 400px;
    right: 28.5px;
    top: 80px;
    background-repeat: no-repeat;
    background-image:url(images/Avocado-Ice-Cream-4-1\ 1.png);
    border: 1px solid #6D6570;
   
}

.moreicecream{
    position: absolute;
    width: 840px;
    height: 400px;
    right: 28.5px;
    top: 540px;
    margin-bottom: 20px;
    border: 2px solid #6D6570;
    background-repeat: no-repeat;
    background-image:url(images/moreicecream\ 1.png);
    position: absolute;
}

.ubeButton{
    position: relative;
    height: 56px;
    width: 114px;
    left: 142.5px;
    top: 314px;
    border-radius: 30px;
    padding: 15px, 30px, 15px, 30px;
    color:white;
    font-weight: 700;
    font-size: 22px;
    line-height:25.78px;
    background-color: #7D63B9;
    border: 4px solid #FFF0E5;
    font-family: Roboto;
    filter :drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
}

.avacadoButton{
    position: relative;
    height: 56px;
    width: 114px;
    left: 142.5px;
    top: 314px;
    border-radius: 30px;
    padding: 15px, 30px, 15px, 30px;
    color:white;
    font-weight: 700;
    font-size: 22px;
    line-height:25.78px;
    font-family: Roboto;
    background-color: #206C00;
    border: 4px solid #FFF0E5;
    filter :drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
}

.frame1{

    position: relative;
    width:401px;
    height :310px;
    top :275px;
    left :-1px;
    padding :10px;
    background-color: rgba(0, 0, 0, 0.15);
    
}

.text{
    text-align:center;
    filter:drop-shadow(5px 5px 20px #000000);
    color:white;
    font-family: Roboto;
    font-weight: bold;
    font-size: 40px;
    vertical-align: top;
}

.span{
    line-height:80px;
    margin-top: 120px;
}

.container-info{
    position: relative;
    height: 321px;
    width: 601px;
    left: 119.5px;
    top: 40px;
    border-radius: 0px;
    padding: 40px;
    color: white; 
    background-color: #3E3940;
}

.info-heading{
    position: relative;
    height: 47px;
    width: 460px;
    left: 20px;
    top: 20px;    
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;

}

.info-paragraph{
    position: relative;
    height: 154px;
    width: 521px;
    left: 20px;
    top: 60px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}
.para-span{
    margin-top: 20px;
}

@media (max-width: 758px){
   
     .tallIceCream{
        position:static;
        width: 375px;
        
    }
    .ubeicecream{
        margin-top: 30px;
        width: 375px;
        position:static;
    }
    .AvocadoIceCream{
        margin-top: 30px;
        width: 375px;
        position:static;
    }
    .moreicecream{
        position:static;
        overflow: hidden;
        width: 375px;
        height: 400px;
        margin: 30px 0px 0px 0px;
        background-image: url(images/moreicecreamMobile.png);
        background-repeat:no-repeat;

    }
    .frame1{
        position: relative;
        width:375px;
    }
    .text{
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;        
    }
    .container-info{
        position: relative;
        height: 262px;
        width: 294px;
        left: 40px;
        top: 69px;
        border-radius: 0px;
        padding: 20px;
    }
    .info-heading{
        position: relative;
        height: 23px;
        width: 230px;
        left: 20px;
        top: 20px;
        border-radius: nullpx;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        
    }
    
    .info-paragraph{
        position: relative;
        height: 169px;
        width: 254px;
        left: 20px;
        top: 43px;
        border-radius: nullpx;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        
    }
}

