*{
    margin:0;
    padding:0; 
    box-sizing: border-box;

}
body {
    background-color:#FFF0E5;
  }

.container{
    position: relative;
    margin-bottom: 20px;
}

.tallIceCream{
    position: absolute;
    width: 400px;
    height: 860px;
    left: 20px;
    top: 80px;
    border: 1px solid #6D6570;
    background-repeat: no-repeat;
    background-image:url(images/icecream\ 1.png);
}
.ubeicecream{
    position: absolute;
    width: 400px;
    height: 400px;
    right: 468.5px;
    top: 80px;
    background-repeat: no-repeat;
    background-image:url(images/ubeicecream\ 1.png);
    border: 1px solid #6D6570;
}
.AvocadoIceCream{
    position: absolute;
    width: 400px;
    height: 400px;
    right: 28.5px;
    top: 80px;
    background-repeat: no-repeat;
    background-image:url(images/Avocado-Ice-Cream-4-1\ 1.png);
    border: 1px solid #6D6570;
   
}

.moreicecream{
    position: absolute;
    width: 840px;
    height: 400px;
    right: 28.5px;
    top: 540px;
    margin-bottom: 20px;
    border: 1px solid #6D6570;
    background-repeat: no-repeat;
    background-image:url(images/moreicecream\ 1.png);
    position: absolute;
}

.ubeButton{
    position: relative;
    height: 56px;
    width: 114px;
    left: 142.5px;
    top: 314px;
    border-radius: 30px;
    padding: 15px, 30px, 15px, 30px;
    color:white;
    font-weight: 700;
    font-size: 22px;
    line-height:25.78px;
    background-color: #7D63B9;
    border: 4px solid #FFF0E5;
    filter :drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
}

.avacadoButton{
    position: relative;
    height: 56px;
    width: 114px;
    left: 142.5px;
    top: 314px;
    border-radius: 30px;
    padding: 15px, 30px, 15px, 30px;
    color:white;
    font-weight: 700;
    font-size: 22px;
    line-height:25.78px;
    background-color: #206C00;
    border: 4px solid #FFF0E5;
    filter :drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
}

@media (max-width:768px){
   
     .tallIceCream{
        position:static;
        width: 375px;
        
    }
    .ubeicecream{
        margin-top: 30px;
        width: 375px;
        position:static;
    }
    .AvocadoIceCream{
        margin-top: 30px;
        width: 375px;
        position:static;
    }
    .moreicecream{
        position:static;
        height: 400px;
        margin: 30px -40%;
    }
}